{% extends 'core/base.html' %}

{% block title %}{{ client.name }}{% endblock %}

{% block content %}
    <div class="py-6 px-6">
        <h1 class="mb-4 text-xl">{{ client.name }}</h1>

        {% if client.description %}
            <p class="font-semibold">Description</p>
            <p class="mb-2">{{ client.description }}</p>
        {% endif %}

        <p class="font-semibold">Created at</p>
        <p class="mb-2">{{ client.created_at }}</p>

        <p class="font-semibold">Modifed at</p>
        <p class="mb-6">{{ client.modified_at }}</p>

        <hr class="my-4">

        <a href="{% url 'clients:edit' client.id %}" class="py-2 px-4 rounded-xl bg-teal-500 text-white">Edit</a>
        <a href="{% url 'clients:delete' client.id %}" class="py-2 px-4 rounded-xl bg-red-500 text-white">Delete</a>

        <hr class="my-4">

        <h2 class="mb-6 text-xl">Comments</h2>

        <div class="space-y-4">
            {% for comment in client.comments.all %}
                <div class="bg-gray-100 p-6 rounded-xl">
                    <p class="mb-2"><strong>{{ comment.created_by }}</strong> @ {{ comment.created_at }}</p>
                    
                    {{ comment.content }}
                </div>
            {% endfor %}
        </div>

        <form method="post" action="{% url 'clients:add_comment' client.id %}" class="my-4">
            {% csrf_token %}

            {{ form.as_p }}

            <button class="py-2 px-4 rounded-xl bg-blue-500 text-white">Submit</button>
        </form>

        <hr class="my-4">

        <h2 class="mb-6 text-xl">Files</h2>

        <div class="space-y-4">
            {% for file in client.files.all %}
                <div class="bg-gray-100 p-6 rounded-xl">
                    <p class="mb-2"><strong>{{ file.created_by }}</strong> @ {{ file.created_at }}</p>
                    
                    <a href="{{ file.file.url }}">Download</a>
                </div>
            {% endfor %}
        </div>

        <form method="post" action="{% url 'clients:add_file' client.id %}" enctype="multipart/form-data">
            {% csrf_token %}

            {{ fileform.as_p }}

            <button class="py-2 px-4 rounded-xl bg-blue-500 text-white">Submit</button>
        </form>

        <hr class="my-4">

        <a href="{% url 'clients:list' %}">Back to clients</a>
    </div>
{% endblock %}