{% extends 'core/base.html' %}

{% block title %}Clients{% endblock %}

{% block content %}
    <div class="py-6 px-6">
        <h1 class="mb-4 text-xl">Clients</h1>

        <a href="{% url 'clients:add' %}" class="inline-block py-4 px-6 bg-teal-600 rounded-xl text-white">Add client</a>
        <a href="{% url 'clients:export' %}" class="inline-block py-4 px-6 rounded-xl bg-teal-500 text-white">Export clients</a>
    
        {% if clients %}
            <div class="mt-6 flex justify-between">
                <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Name</p>
            </div>

            {% for client in clients %}
                <div class="flex justify-between">
                    <p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">
                        <a href="{% url 'clients:detail' client.id %}">{{ client.name }}</a>
                    </p>
                </div>
            {% endfor %}
        {% else %}
            <p class="mt-6 px-2">There are no clients in the database yet...</p>
        {% endif %}
    </div>
{% endblock %}