{% extends 'core/base.html' %}

{% block title %}{{ team.name }}{% endblock %}

{% block content %}
    <div class="py-6 px-6">
        <h1 class="text-xl">{{ team.name }}</h1>

        {% if team.created_by == request.user %}
            <a href="{% url 'team:edit' team.id %}">(Edit)</a>
        {% endif %}

        <p class="mt-6"><strong>Team owner:</strong> {{ team.created_by }}</p>

        <hr class="my-4">

        <h2 class="font-semibold">Team members</h2>

        {% for member in team.members.all %}
            <p>{{ member.username }}</p>
        {% endfor %}
    </div>
{% endblock %}